body, html{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px/1.5;
  color: #333;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga', 'kern';

}

.nav-bar {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 30px;
}

.container {
	height:100%;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	font-family: sans-serif;
	background-image:url('../images/eliseu_martinho_2.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.inner-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #fff;
	min-width: 50%; /*trying to give the feeling of center square*/
	min-height: 50%;
}

li {
	display: list-item;
	list-style: none;
}

header {
	
}

footer {
	
}

@media (min-width: 768px) {
  .container {
    width: 100%;  
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
