!!! 5
%html{:lang=>"en"}
  %head
    %meta{:http_equiv=>"Content-Type", :content=>"text/html; charset=UTF-8"}
    %meta{:http_equiv=>"X-UA-Compatible", :content=>"IE=edge"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %meta{:name=>"description", :content=>"This was supposed to be a page about farming then became a personal web page"}
    %meta{:name=>"author", :content=>"Eliseu Campos Martinho (orangeeli)"}
    %link{:rel=>"icon", :href=>"images/favicon.ico"}
    %link{:rel=>"stylesheet", :href=>"css/stylish.css"}
    -#%script{:src=>"", :type=>"javascript"}

  %body
    %div.container
      %div{:class=>"inner-container"}
        %header
        %section
          %ul
            %li.start
              %span var
              %span Eliseu Martinho
              \=
            %li
              %span {
            %li
              %span profession
              \:
              %span "Software Engineer"
            %li
              %span }
        %footer
